<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="basepath" value="C:\Inetpub\services\"/>
    <add key="dbuser" value="YOUR_DB_USER"/>
    <add key="dbpass" value="YOUR_DB_PASSWORD"/>
    <add key="processing.gettips.siebel.service" value="http://your-domain.com/Processing/service.asmx"/>
    <add key="dmscacheage" value="7"/>
    <add key="com.certegrity.cloudsvc.basic.service" value="http://your-domain.com/basic/service.asmx"/>
    <add key="scormlocal" value="N"/>
    <add key="GetConfiguration_debug" value="Y"/>
    <add key="GetLessonData_debug" value="N"/>
    <add key="GetScenarioData_debug" value="Y"/>
    <add key="QuizLibrary_debug" value="N"/>
    <add key="GetMediaSecure_debug" value="N"/>
    <add key="GetMedia_debug" value="N"/>
    <add key="GetHMedia_debug" value="N"/>
    <add key="GetDImage_debug" value="N"/>
    <add key="GetExamHTML5_debug" value="N"/>
    <add key="GetLocalRegs_debug" value="N"/>
    <add key="StoreExamData_Debug" value="Y"/>
    <add key="KBAALookup_debug" value="Y"/>
    <add key="KBAQLookup_debug" value="Y"/>
    <add key="minio-key" value="YOUR_MINIO_ACCESS_KEY"/>
    <add key="minio-secret" value="YOUR_MINIO_SECRET_KEY"/>
    <add key="minio-region" value="us-east"/>
    <add key="minio-bucket" value="YOUR_BUCKET_NAME"/>
    <add key="com.certegrity.scorm.svc.service" value="http://your-domain.com/svc/service.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="siebeldb" connectionString="server=YOUR_SERVER\YOUR_INSTANCE;uid=YOUR_USER;pwd=YOUR_PASSWORD;database=siebeldb;Min Pool Size=3;Max Pool Size=5" providerName="System.Data.SqlClient"/>
    <add name="email" connectionString="server=YOUR_SERVER\YOUR_INSTANCE;uid=YOUR_USER;pwd=YOUR_PASSWORD;database=scanner;Min Pool Size=3;Max Pool Size=5" providerName="System.Data.SqlClient"/>
    <add name="hcidb" connectionString="server=YOUR_SERVER\YOUR_INSTANCE;uid=YOUR_USER;pwd=YOUR_PASSWORD;Min Pool Size=3;Max Pool Size=5;Connect Timeout=10;database=" providerName="System.Data.SqlClient"/>
    <add name="hcidbro" connectionString="server=YOUR_SERVER\YOUR_INSTANCE;uid=YOUR_USER;pwd=YOUR_PASSWORD;Min Pool Size=3;Max Pool Size=5;Connect Timeout=10;ApplicationIntent=ReadOnly;database=siebeldb" providerName="System.Data.SqlClient"/>
    <add name="dms" connectionString="server=YOUR_SERVER\YOUR_INSTANCE;uid=YOUR_DMS_USER;pwd=YOUR_DMS_PASSWORD;Min Pool Size=3;Max Pool Size=5;Connect Timeout=10;ApplicationIntent=ReadOnly;database=DMS" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <log4net>
    <appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <identity value=""/>
      <layout type="log4net.Layout.PatternLayout" value="%message"/>
      <remoteAddress value="YOUR_LOG_SERVER_IP"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
      </filter>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFileName}"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="3"/>
      <maximumFileSize value="2000KB"/>
      <staticLogFileName value="true"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <appender name="GMLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{GMLogFileName}"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="5000KB"/>
      <staticLogFileName value="true"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <appender name="GHMLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{GHMLogFileName}"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="5000KB"/>
      <staticLogFileName value="true"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <appender name="SEDLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{SEDLogFileName}"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="5000KB"/>
      <staticLogFileName value="true"/>
      <immediateFlush value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <logger name="EventLog">
      <level value="ALL"/>
      <appender-ref ref="RemoteSyslogAppender"/>
    </logger>
    <logger name="DebugLog">
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </logger>
    <logger name="GMDebugLog">
      <level value="ALL"/>
      <appender-ref ref="GMLogFileAppender"/>
    </logger>
    <logger name="GHMDebugLog">
      <level value="ALL"/>
      <appender-ref ref="GHMLogFileAppender"/>
    </logger>
    <logger name="SEDDebugLog">
      <level value="ALL"/>
      <appender-ref ref="SEDLogFileAppender"/>
    </logger>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.

            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <httpRuntime minFreeThreads="704" minLocalRequestFreeThreads="608" maxUrlLength="8192" maxQueryStringLength="8192" requestValidationMode="2.0"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2">
      <assemblies>
        <!--        <add assembly="System.Data.SqlServerCe.Entity, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/> -->
        <!--        <add assembly="System.Data.SqlServerCe, Version=3.5.1.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/> -->
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <wsdlHelpGenerator href="help.aspx"/>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>